<div class="row">

  <div class="col-md-5">
    <app-recipe-list
      (recipeClick)="onRecipeClick($event);"
      ></app-recipe-list>
  </div>

  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="this.selectedRecipe; else infoText"
      [recipe]="selectedRecipe">
    </app-recipe-detail>
    <ng-template #infoText>
      No recipe selected!
    </ng-template>
  </div>

</div>
