<div class="row">
  <div class="clo-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr/>

<div class="row">
  <div class="clo-xs-12">
    <app-recipe-item
      *ngFor="let recipeItem of recipes"
      [recipe]="recipeItem"
      (recipeClick)="onRecipeSelected(recipeItem)"
      ></app-recipe-item>
  </div>
</div>

